/JavaOnNetbeans/nbproject/private/
/JavaOnNetbeans/build/
/ConnectToServer/nbproject/private/
/ConnectToServer/build/
/OOP_Practice/nbproject/private/
/OOP_Practice/build/
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/.idea/workspace.xml
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/.idea/vcs.xml
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/.idea/.gitignore
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/.idea/modules.xml
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/.idea/misc.xml
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/ConnectToServer/nbproject/project.properties
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/Java_Code.iml
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/ConnectToServer/nbproject/genfiles.properties
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/ConnectToServer/nbproject/build-impl.xml
out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/out/production/Java_Code/ConnectToServer/nbproject/project.xml
